<template>
    <div class="main about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            <h1>This is an about page</h1>
                        </div>
                        <div class="card-body">
                            <p>
                                Kom je er niet uit? Koop dan Google Home of Alexa en vraag het apparaat wat het antwoord is. of stuur een mailtje naar info@barryleitobv.nl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'about',
        beforeMount() {
            this.$parent.authenticate()
        },
        methods: {}
    }
</script>
<style scoped lang="scss">
    .about {
        height: 80%;

        h1 {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
</style>