<template>
    <div class="main admin">
        <div class="container">

            <div class="row mb-3">
                <div class="col">
                    <h1>Admin</h1>
                </div>
            </div>

            <!-- Klas toevoegen -->
            <div class="row justify-content-center">

                <div class="form-group col-8 pl-5">
                    <label for="klasNaam" class="sr-only">Klas</label>
                    <input type="text" class="form-control" v-model="klasNaam" id="klasNaam" placeholder="Klas">
                </div>
                <div class="col-md-4 pr-5">
                    <button class="btn btn-primary w-100" @click="addKlas">Toevoegen</button>
                </div>
            </div>

            <div class="row justify-content-between mt-5">

                <!-- Klassen Lijst -->
                <div class="col-4">

                    <!-- Header -->
                    <div class="row">
                        <div class="col-2 card-header font-weight-bold pl-4">
                            #
                        </div>
                        <div class="col-7 card-header font-weight-bold">
                            Klas
                        </div>
                        <div class="col-3 card-header font-weight-bold text-center">
                            Active
                        </div>
                    </div>
                    <!-- List -->
                    <div
                            v-for="(klas, index) in klassen"
                            :key="index"
                            class="row pt-1 pb-2 row--border-bottom"
                    >
                        <div class="col-2 pl-4">
                            {{ index + 1 }}
                        </div>
                        <div class="col-7">
                            <a @click="showKlas(klas)">{{ klas.naam }}</a>
                        </div>
                        <div class="col-3 text-center">
                            <input type="checkbox" id="checkbox" v-model="klas.active"
                                   @change="saveActive(klas.naam, $event)"/>
                        </div>
                    </div>

                </div>

                <!-- Stats -->
                <div class="col-7" v-if="activeKlas !== ''">
                    <Stats :klas="activeKlas" />
                </div>


            </div>

        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import {mapMutations} from 'vuex'

    import Stats from '@/components/Stats'

    export default {
        name: 'admin',
        components: {
          Stats,
        },
        data() {
            return {
                klasNaam: '',
                activeKlas: '',
            }
        },
        beforeMount() {
            this.$parent.authenticate()
        },
        computed: {
            ...mapState(['klassen']),
        },
        methods: {
            ...mapMutations([
                'createKlas',
                'updateActive'
            ]),
            addKlas() {
                // Save klas
                this.createKlas(this.klasNaam);

                // Clear input
                this.klasNaam = '';
            },
            saveActive(klasNaam, event) {
                this.updateActive({
                    klasNaam: klasNaam,
                    active: event.target.checked,
                });
            },
            showKlas(klas) {
                this.activeKlas = klas;
            }
        }
    }
</script>
<style scoped lang="scss">
    .row {
        &--border-bottom {
            border-bottom: 1px solid #e6e2eb;
        }
    }

    a {
        padding-bottom: 2px;
        border-bottom: 1px solid #777;

        &:hover {
            cursor: pointer;
        }
    }
</style>