<template>
    <div class="home">
        <Oefenen v-if="userName"/>
    </div>
</template>

<script>
    import Oefenen from './Oefenen'

    export default {
        name: 'home',
        components: {
            Oefenen,
        },
        beforeMount() {
            this.$parent.authenticate()
            if (this.userName === 'Admin') {
                this.$router.push({name: 'admin'});
            }
        },
        computed: {
            userName: function () {
                return this.$parent.userName;
            }
        },
        methods: {}
    }
</script>

<style>

</style>