<template>
    <div class="main login">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-4">

                    <form @submit.stop.prevent="aanmelden" class="card">
                        <h1>Welkom</h1>

                        <div class="form-group">
                            <input class="form-control" type="text" v-model="naam"/>
                            <small class="text-danger">{{ errors.naam }}</small>
                        </div>

                        <div class="form-group">
                            <select class="form-control" v-model="klasIndex">
                                <option value="" selected disabled>Kies een klas</option>
                                <option
                                        v-for="(klas, index) in klassen"
                                        :key="index"
                                        :value="index"
                                >
                                    {{ klas.naam }}
                                </option>
                            </select>
                            <small class="text-danger">{{ errors.klas }}</small>
                        </div>

                        <button class="btn btn-success">Aanmelden</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: 'login',
        components: {},
        props: [],
        data() {
            return {
                errors: [],
                naam: '',
                klasIndex: '',
            }
        },
        computed: {
            ...mapGetters({
                klassen: 'getActiveKlassen'
            }),
        },
        methods: {
            aanmelden: function () {
                this.validateForm();

                if (Object.keys(this.errors).length === 0) {
                    this.loginOrCreateUser();
                    this.$router.push({name: 'home'});
                }
            }
            ,
            validateForm: function () {
                this.errors = [];

                // Naam
                this.naam = this.naam.trim();
                if (!this.naam) {
                    this.errors['naam'] = 'Naam is verplicht';
                } else if (!/^[A-Za-z]+$/.test(this.naam)) {
                    this.errors['naam'] = 'Naam mag alleen uit letters bestaan';
                }

                // Klas
                if (!Number.isInteger(this.klasIndex)) {
                    this.errors.klas = 'Selecteer een klas';
                }

                this.$forceUpdate();
            }
            ,
            loginOrCreateUser() {
                // Reformat the name
                this.naam = this.$parent.capitalizeFirstLetter(this.naam);

                // Save userName & klasIndex (used as key)
                this.$parent.userName = this.naam;
                this.$session.set('userName', this.naam);
                this.$session.set('klasIndex', this.klasIndex);

                // If name is unknown, create a new entry.
                if (!this.klassen[this.klasIndex].leerlingen[this.naam]) {
                    this.$store.commit('createLeerling', {naam: this.naam, index: this.klasIndex});
                }
            }
        }
    }
</script>

<style lang="scss">
    .login {
        background-image: url("../assets/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        form {
            padding: 20px;
        }
    }

</style>