<template>
    <div class="main oefenen">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-6">
                    <!-- Terug van weggeweest Scherm -->
                    <Verder
                            v-if="needVerderScherm"
                            :leerling="leerling"
                    />
                    <!-- Sommen maken -->
                    <Sommen
                            v-else-if="leerling.gemaakt < leerling.aantal"
                            :leerling="leerling"
                    />
                    <!-- Einde -->
                    <Einde v-else
                           :leerling="leerling"
                    />

                </div>

                <div class="col-2">
                    <Score :leerling="leerling"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { mapMutations } from 'vuex'

    import Score from '@/components/Score'
    import Sommen from '@/components/Sommen'
    import Einde from '@/components/Einde'
    import Verder from '@/components/Verder'

    export default {

        name: 'oefenen',
        components: {
            Score,
            Sommen,
            Einde,
            Verder,
        },
        data() {
            return {
                input: '',
                antwoord: null,
                lekkerbezig: this.$session.get('lekkerbezig')
            }
        },
        computed: {
            ...mapGetters({ leerling: 'getLoggedInLeerling'}),
            needVerderScherm: function () {
                console.log(this.$session.get('userName'));
                console.log(this.$session.get('klasIndex'));
                return this.leerling.som && !this.lekkerbezig && this.leerling.gemaakt;
            }
        },
        methods: {
            ...mapMutations([
               'updateLeerling'
            ]),
            opnieuw: function () {
                // Set a variable so the app knows not to bother us again.
                this.$session.set('lekkerbezig', true);
                this.lekkerbezig = true;

                // Clear values
                this.leerling.gemaakt = 0;
                this.leerling.goed = 0;
                this.leerling.som = '';

                // Update Leerling
                this.updateLeerling(this.leerling);

                // Rerender component
                this.$forceUpdate();
            },
            verder: function () {
                this.$session.set('lekkerbezig', true);
                this.lekkerbezig = true;
            }
        }
    }
</script>

<style>
    .color-primary {
        background-color: rgba(0, 255, 0, 0.1) !important;
        color: green;
        font-weight: 600;
    }

</style>