<template>
    <div class="main settings">
        <div class="container">

            <div class="row mb-3">
                <div class="col">
                    <h1>Settings</h1>
                </div>
            </div>

            <div class="row justify-content-between">

                <!-- Sommen -->
                <div class="col-3">
                    <p class="text-muted">Sommen</p>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="leerling.optellen" id="optellen"/>
                        <label for="optellen" class="form-check-label">Optellen</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="leerling.aftrekken" id="aftrekken"/>
                        <label for="aftrekken" class="form-check-label">Aftrekken</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="leerling.vermenigvuldigen" id="vermenigvuldigen"/>
                        <label for="vermenigvuldigen" class="form-check-label">Vermenigvuldigen</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="leerling.delen" id="delen"/>
                        <label for="delen" class="form-check-label">Delen</label>
                    </div>

                </div>


                <!-- Aantal -->
                <div class="col-3">
                    <p class="text-muted">Aantal</p>

                    <select class="form-control" v-model="leerling.aantal">
                        <option disabled>Kies het aantal te maken sommen</option>
                        <option
                                v-for="n in 10"
                                :value="n*10"
                        >
                            {{ n * 10 }}
                        </option>
                    </select>
                </div>


                <!-- Getallen -->
                <div class="col-3">
                    <p class="text-muted">Getallen</p>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Min</span>
                        </div>
                        <input type="text" class="form-control" placeholder="min" v-model="leerling.min"/>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Max</span>
                        </div>
                        <input type="text" class="form-control" placeholder="max" v-model="leerling.max"/>
                    </div>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    <button class="btn btn-success" @click="opslaan">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { mapMutations } from 'vuex'

    export default {
        name: 'settings',
        beforeMount() {
            this.$parent.authenticate()
        },
        computed: {
            ...mapGetters({
                leerling: 'getLoggedInLeerling'
            })
        },
        methods: {
            ...mapMutations([
                'updateLeerling'
            ]),
            opslaan() {
                this.leerling.som = '';
                console.log(this.leerling);
                console.log(this.$session.get('userName'));
                console.log(this.$session.get('klasIndex'));

                this.updateLeerling(this.leerling);
                console.log(this.$store.state.klassen[this.$session.get('klasIndex')].leerlingen[this.$session.get('userName')]);
            }
        }
    }
</script>