<template>
    <div class="card">
        <div class="card-header color-primary">Einde</div>
        <div class="card-body">
            <p v-if="resultaat == GOED">Goed gedaan!</p>
            <p v-if="resultaat == MATIG">Blijf vooral oefenen.</p>
            <p v-if="resultaat == SLECHT">Dit was hopeloos. Vraag je leraar om hulp.</p>
            <button class="btn btn-success" @click="$parent.opnieuw()">Nog een keer, nog een keer!</button>
        </div>
    </div>
</template>

<script>
    export default {


        name: 'einde',
        props: ['leerling'],
        data() {
            return {
                GOED: 'goed',
                MATIG: 'matig',
                SLECHT: 'slecht',
            }
        },
        mounted: function () {
          this.leerling.som = '';
        },
        computed: {
            resultaat: function () {
                // Bereken index goed
                let index = this.leerling.goed / this.leerling.aantal;

                // Geef waarde aan index.
                if (index > 0.7) {
                    return this.GOED;
                } else if (index > 0.4) {
                    return this.MATIG;
                } else {
                    return this.SLECHT
                }
            }
        },
        methods: {

        }
    }
</script>