<template>
    <div class="card">
        <div class="card-header color-primary">Score</div>
        <div class="card-body">
            <p class="text-success">Goed</p>
            <div class="text-center"><h1>{{ goed }}</h1></div>
            <p class="text-danger">Fout</p>
            <div class="text-center"><h1>{{ fout }}</h1></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'score',
        props: ['leerling'],
        data() {
            return {

            }
        },
        computed: {
            goed: function () {
                return this.leerling.goed;
            },
            fout: function () {
                return this.leerling.gemaakt - this.goed;
            },
        },
        methods: {

        }
    }
</script>