<template>
    <div>
        <div class="card">
            <div class="card-header color-primary">Som {{ somNummer }}</div>
            <div class="card-body">
                <p class="som lead ml-3">{{ som }}</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="input" ref="input" autocomplete="off"/>
                    </div>
                    <button class="btn btn-success w-50" @click="antwoorden">Ik hoop dat dit goed is</button>
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="progressSection text-center py-1 position-relative">
                <div class="voortgangspercentage">{{ voortgangspercentage }} %</div>
                <div class="progressBar bg-success" v-bind:style="{ width: voortgangspercentage + '%' }"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
        name: 'sommen',
        props: ['leerling'],
        data() {
            return {
                input: '',
            }
        },
        mounted: function () {
            // Autofocus input on load.
            // todo: geeft soms een warning als Oefenen wordt gerenderd, maar Sommen niet, terwijl input een input object teruggeeft in de console.
            this.$nextTick(() => this.$refs.input.focus());
        },
        computed: {
            voortgangspercentage: function () {
                return (this.leerling.gemaakt / this.leerling.aantal * 100).toFixed(1);
            },
            somNummer: function () {
                return this.leerling.gemaakt + 1;
            },
            som: function () {
                if (!this.leerling.som) {
                    this.updateSom(this.generateSom());
                }
                return this.leerling.som;
            },
            operators: function () {
                let operators = [];
                if (this.leerling.optellen) operators.push('+');
                if (this.leerling.aftrekken) operators.push('-');
                if (this.leerling.vermenigvuldigen) operators.push('*');
                if (this.leerling.delen) operators.push('/');
                return operators;
            }
        },
        methods: {
            ...mapMutations([
                'updateSom',
                'somGemaakt',
                'somGoed',
            ]),
            antwoorden: function () {
                console.log('session: ' + this.$session.exists());
                console.log('username in session: ' + this.$session.get('userName'));

                // Geef de input opnieuw focus
                this.$refs.input.focus();

                // Als er niets is ingevuld, doe niets.
                if (!this.input.trim()) {
                    return;
                }

                // Replace , with .
                this.input = this.input.replace(/,/g, '.');

                // Als het antwoord goed is +1
                if (this.input.trim() == this.antwoord) {
                    this.somGoed();
                }

                // Aantal gemaakte sommen +1
                this.somGemaakt();

                // Nieuwe som
                this.updateSom(this.generateSom());

                // Clear input field
                this.input = '';
            },
            generateSom: function () {
                // == Genereert een willekeurige som ==

                // Get the list of current operators
                // Pick a random operator
                let operator = this.operators[Math.floor(Math.random() * this.operators.length)];

                // Generate 2 random numbers
                let num1 = this.randomIntFromLeerling();
                let num2 = this.randomIntFromLeerling();

                let som = '';
                let operatorKey = '';

                // Set the som
                switch (operator) {
                    case '+':
                        this.antwoord = num1 + num2;
                        som = num1 + ' + ' + num2;
                        operatorKey = 'optellen';
                        break;
                    case '-':
                        this.antwoord = num1 - num2;
                        som = num1 + ' - ' + num2;
                        operatorKey = 'aftrekken';
                        break;
                    case '*':
                        this.antwoord = num1 * num2;
                        som = num1 + ' X ' + num2;
                        operatorKey = 'vermenigvuldigen';
                        break;
                    case '/':
                        this.antwoord = num1 / num2;
                        som = num1 + ' : ' + num2;
                        operatorKey = 'delen';
                        break;
                }

                return {som: som, operatorKey: operatorKey};

            },
            randomIntFromLeerling() {
                // Genereer een willekeurig getal tussen het door de leerling ingeselde minimum en maximum.
                return Math.floor(Math.random() * (this.leerling.max - this.leerling.min + 1) + this.leerling.min);
            }
        }
    }
</script>

<style scoped>
    .progressBar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .voortgangspercentage {
        z-index: 1;
        position: relative;
        font-weight: 600;
    }
</style>