<template>
    <div class="card">
        <div class="card-header color-primary">{{ klas.naam }}</div>
        <div class="card-body pt-3">

            <!-- Header -->
            <div class="row">
                <div class="col-4 pl-5 card-header font-weight-bold">
                    Soort
                </div>
                <div class="col card-header font-weight-bold text-center">
                    Aantal
                </div>
                <div class="col card-header font-weight-bold text-center">
                    Juist
                </div>
                <div class="col card-header font-weight-bold text-center">
                    Verkeerd
                </div>
            </div>

            <!-- List -->
            <div class="row">
                <div class="col-4 pl-5">Optellen</div>
                <div class="col text-center">{{ optellen.aantal }}</div>
                <div class="col text-center">{{ optellen.goed }}</div>
                <div class="col text-center">{{ optellen.fout }}</div>
            </div>

            <div class="row">
                <div class="col-4 pl-5">Aftrekken</div>
                <div class="col text-center">{{ aftrekken.aantal }}</div>
                <div class="col text-center">{{ aftrekken.goed }}</div>
                <div class="col text-center">{{ aftrekken.fout }}</div>
            </div>

            <div class="row">
                <div class="col-4 pl-5">Vermenigvuldigen</div>
                <div class="col text-center">{{ vermenigvuldigen.aantal }}</div>
                <div class="col text-center">{{ vermenigvuldigen.goed }}</div>
                <div class="col text-center">{{ vermenigvuldigen.fout }}</div>
            </div>

            <div class="row">
                <div class="col-4 pl-5">Delen</div>
                <div class="col text-center">{{ delen.aantal }}</div>
                <div class="col text-center">{{ delen.goed }}</div>
                <div class="col text-center">{{ delen.fout }}</div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {


        name: 'stats',
        props: ['klas'],
        data() {
            return {
            }
        },
        mounted() {

        },
        computed: {
            optellen: function () {
                return {
                    aantal: this.klas.optellen.aantal,
                    goed: this.klas.optellen.goed,
                    fout: this.klas.optellen.aantal - this.klas.optellen.goed
                }
            },
            aftrekken: function () {
                return {
                    aantal: this.klas.aftrekken.aantal,
                    goed: this.klas.aftrekken.goed,
                    fout: this.klas.aftrekken.aantal - this.klas.aftrekken.goed
                }
            },
            vermenigvuldigen: function () {
                return {
                    aantal: this.klas.vermenigvuldigen.aantal,
                    goed: this.klas.vermenigvuldigen.goed,
                    fout: this.klas.vermenigvuldigen.aantal - this.klas.vermenigvuldigen.goed
                }
            },
            delen: function () {
                return {
                    aantal: this.klas.delen.aantal,
                    goed: this.klas.delen.goed,
                    fout: this.klas.delen.aantal - this.klas.delen.goed
                }
            },
            
        },
        methods: {

        }
    }
</script>