<template>
    <div class="card">
        <div class="card-header color-primary">Terug van weggeweest</div>
        <div class="card-body">
            <p>Het lijkt er op dat je nog bezig was.</p>
            <p>Wil je verdergaan?</p>
            <button class="btn btn-success w-25" @click="$parent.verder">Ja</button>
            <button class="btn btn-danger w-25 ml-3" @click="$parent.opnieuw">Nee</button>
        </div>
    </div>
</template>

<script>
    export default {


        name: 'verder',
        props: ['leerling'],
        data() {
            return {
            }
        },
        mounted() {

        },
        computed: {

        },
        methods: {

        }
    }
</script>