<template>
    <div id="app">
        <div class="header">
            <div class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container">
                    <div class="collapse navbar-collapse">

                        <ul class="navbar-nav mr-auto my-2">
                            <li class="nav-item mr-5">
                                <router-link class="nav-link font-weight-bold" to="/">Reken App</router-link>
                            </li>

                            <template v-if="userName">
                                <li class="nav-item" v-if="!isAdmin">
                                    <router-link class="nav-link" to="/">Oefenen</router-link>
                                </li>
                                <li class="nav-item" v-if="!isAdmin">
                                    <router-link class="nav-link" to="/settings">Settings</router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link class="nav-link" to="/about">About</router-link>
                                </li>
                                <li class="nav-item" v-if="isAdmin">
                                    <router-link class="nav-link" to="/admin">Admin</router-link>
                                </li>
                            </template>

                        </ul>
                    </div>
                    <template v-if="userName">
                        <ul class="navbar-nav my-2">
                            <li class="nav-item">
                                <a class="nav-link" @click="logout">Log uit: {{ userName }}</a>
                            </li>
                        </ul>
                    </template>
                </div>
            </div>
        </div>

        <router-view/>

    </div>
</template>

<script>

    export default {
        name: 'app',
        components: {},
        props: [],
        data() {
            return {
                // Used to update the component, because Vue does not like to watch the session
                userName: '',
            }
        },
        created() {
            // Start the session.
            this.$session.start();


            if(this.$session.get('userName')) {
                this.userName = this.$session.get('userName');
            }

            if(this.$session.get('klasIndex')) {
                this.klasIndex = this.$session.get('klasIndex');
            }
        },
        computed: {
            isAdmin: function () {
                return this.userName === 'Admin';
            }
        },
        methods: {
            logout: function () {
                this.userName = '';
                this.$session.destroy();
                this.$session.start();
                console.log(this.$session.get('userName'));
                this.$router.push({name: 'login'});
            },
            authenticate() {
                if (!this.$session.get('userName')) {
                    // If we don't have a userName, user must login.
                    this.$router.push({name: 'login'});
                }
            },
            capitalizeFirstLetter(/*String*/string) {
                return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
            }
        },
        watch: {
            // Watcher is retarded
//            userName(newName) {
//                this.$session.set('userName', newName);
//            },
//            klasIndex(newIndex) {
//                this.$session.set('klasIndex', newIndex);
//            }
        }
    }
</script>

<style>

    #app {
        width: 100%;
        height: 100%;
    }

    .header {
        height: 55px;
    }

    .main {
        width: 100%;
        height: calc(100% - 55px);
        padding-top: 100px;
    }

</style>
